.filters {
  &__input {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .filters {
    &__input {
      width: 100%;
      margin-top: 5px;
    }
  }
}
