@import '~/src/scss/mixins';

thead {
  tr {
    background-color: #f8f8f8;
    border: 1px solid #dedede;
    padding: 5px;
  }

  th {
    padding: 10px;
    text-align: center;
    min-height: 40px;
    @include table-row-headers;
  }

  th:nth-child(1),
  th:nth-child(2) {
    width: 15%;
  }

  th:nth-child(3) {
    width: 25%;
  }

  th:nth-child(4) {
    width: 35%;
  }

  th:nth-child(5),
  th:nth-child(6) {
    width: 5%;
  }
}
