@import '~/src/scss/variables';
@import '~/src/scss/mixins';

.table {
  &__row {
    background-color: #f8f8f8;
    border: 1px solid #ddd;

    td {
      padding: 10px;
      text-align: center;
      min-height: 40px;
    }

    td:nth-child(5),
    td:nth-child(6) {
      padding: 0;
    }
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__edit-btn,
  &__delete-btn {
    &:hover {
      cursor: pointer;
    }
  }

  &__edit-btn {
    color: $primary-dark;
  }

  &__delete-btn {
    color: $error-red;
  }
}

@media screen and (max-width: 600px) {
  .table {
    &__row {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 15px;
      padding: 5px;

      &:last-child {
        margin: 0;
      }

      td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
        position: relative;

        &::before {
          content: attr(data-label);
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translate(0, -50%);
          @include table-row-headers;
        }

        &:nth-child(5),
        &:nth-child(6) {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding: 0 10px;
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}
