@import '~/src/scss/_variables';

.table {
  width: 100%;
  overflow: auto;

  &__inner {
    table-layout: fixed;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-width: 1000px;
  }
}

.filters {
  margin-bottom: 5px;

  &__toggle-button {
    color: $primary-dark;
    background-color: transparent;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .table {
    &__inner {
      border: 0;
      min-width: 0;
    }
  }
}
