h2 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.table {
  width: 100%;
  overflow: auto;
}

.table__inner {
  table-layout: fixed;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-width: 1000px;
}

@media screen and (max-width: 600px) {
  .table__inner {
    border: 0;
    min-width: 0;

    thead {
      border: none;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
}
